@use './vars' as *;
@use '@/assets/styles/themes' as *;

@mixin background-container() {
    @include themed {
        background-color: t('background');
        background-image: url(t('background-image'));
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@mixin page-container() {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

// Миксин для контейнера с эффектом размытия
@mixin container() {
    @include themed {
        background-color: t('container-bg-color');
    }
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    border-radius: 32px;
}
