@use './vars' as *;

@mixin background-container() {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/images/background-blurred.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: $black;
}

@mixin page-container() {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

// Миксин для контейнера с эффектом размытия
@mixin container() {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    border-radius: 32px;
    background: $container-bg-color;
}
