// Переменные для шрифтов
$primary-ff: 'Press Start 2P', cursive; // Пример основного шрифта
$secondary-ff: 'Arial', sans-serif; // Пример второстепенного шрифта

// Переменные для размеров шрифтов
$font-size-3xl: 30px;
$line-height-3xl: 36px;
$letter-spacing-3xl: 0;

$font-size-2xl: 24px;
$line-height-2xl: 32px;
$letter-spacing-2xl: 0;

$font-size-lg: 18px;
$line-height-lg: 28px;
$letter-spacing-lg: 0;

$font-size-base: 16px;
$line-height-base: 1.5;
$letter-spacing-base: 0;

$font-size-xs: 12px;
$line-height-xs: 16px;
$letter-spacing-xs: 0;

// Миксины для типографики
@mixin text-style($size, $line-height, $letter-spacing: 0) {
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

// Использование миксинов для различных стилей шрифтов
@mixin text-3xl {
    @include text-style($font-size-3xl, $line-height-3xl, $letter-spacing-3xl);
}

@mixin text-2xl {
    @include text-style($font-size-2xl, $line-height-2xl, $letter-spacing-2xl);
}

@mixin text-lg {
    @include text-style($font-size-lg, $line-height-lg, $letter-spacing-lg);
}

@mixin text-base {
    @include text-style(
        $font-size-base,
        $line-height-base,
        $letter-spacing-base
    );
}

@mixin text-xs {
    @include text-style($font-size-xs, $line-height-xs, $letter-spacing-xs);
}
