:root {
    --white: white;
    --black: rgb(33, 33, 33);
    --orange: rgb(255, 110, 1);
    --orange-light: rgb(255, 165, 0);
    --yellow-light: rgb(206, 202, 87);
    --yellow-light-hover: rgb(107, 105, 60);
    --orange-hover: rgb(156, 75, 0);
    --gray-dark: rgb(130, 130, 130);
    --gray-light: rgb(220, 220, 220);
    --gray-light-hover: rgba(213, 213, 213, 0.3);
    --main-page-btn-bg-color: rgb(184, 88, 0);
    --container-bg-color: rgba(241, 241, 241, 0.6);
}
