@forward 'themes';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('./constants.scss');
@import url('./normalize.scss');

body {
    @include text-base;
    font-family: $primary-ff, $secondary-ff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
