$btn-primary: #b85800;
$btn-shadow: #12161dcc;
$btn-primary-hover: #9c4b00;
$menu-bg-color: #f1f1f199;
$title-color: #8e4400;
$btn-text-color: #ffffff;
$menu-text-color: #101010;

.menu-wrap {
    color: $menu-text-color;
    text-align: center;
    background-color: $menu-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    max-width: 700px;
    padding: 2.5rem;
    backdrop-filter: blur(4px);

    .main-icon {
        width: 135px;
        height: 140px;
        background-image: url("data:image/svg+xml,%3Csvg width='88' height='94' viewBox='0 0 88 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-outside-1_4375_476' maskUnits='userSpaceOnUse' x='0' y='0' width='88' height='94' fill='black'%3E%3Crect fill='white' width='88' height='94'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48 4H80V8H84V26H64V30H76V34H60V38V42H68V46V50H64V46H60V50V54V58H56V62V66H52V70H48V74V78V82V86H52V90H44V86V82V78H40V74H36V78H32V82H28V86H32V90H24V86V82V78V74H20V70H16V66H12V62H8V58H4V54V50V46V42V38V34H8V38V42H12V46H16V50H24V46H28V42H34V38H40V34H44V30V26V8H48V4Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48 4H80V8H84V26H64V30H76V34H60V38V42H68V46V50H64V46H60V50V54V58H56V62V66H52V70H48V74V78V82V86H52V90H44V86V82V78H40V74H36V78H32V82H28V86H32V90H24V86V82V78V74H20V70H16V66H12V62H8V58H4V54V50V46V42V38V34H8V38V42H12V46H16V50H24V46H28V42H34V38H40V34H44V30V26V8H48V4Z' fill='%23535353'/%3E%3Cpath d='M80 4H84V0H80V4ZM48 4V0H44V4H48ZM80 8H76V12H80V8ZM84 8H88V4H84V8ZM84 26V30H88V26H84ZM64 26V22H60V26H64ZM64 30H60V34H64V30ZM76 30H80V26H76V30ZM76 34V38H80V34H76ZM60 34V30H56V34H60ZM60 42H56V46H60V42ZM68 42H72V38H68V42ZM68 50V54H72V50H68ZM64 50H60V54H64V50ZM64 46H68V42H64V46ZM60 46V42H56V46H60ZM60 58V62H64V58H60ZM56 58V54H52V58H56ZM56 66V70H60V66H56ZM52 66V62H48V66H52ZM52 70V74H56V70H52ZM48 70V66H44V70H48ZM48 86H44V90H48V86ZM52 86H56V82H52V86ZM52 90V94H56V90H52ZM44 90H40V94H44V90ZM44 78H48V74H44V78ZM40 78H36V82H40V78ZM40 74H44V70H40V74ZM36 74V70H32V74H36ZM36 78V82H40V78H36ZM32 78V74H28V78H32ZM32 82V86H36V82H32ZM28 82V78H24V82H28ZM28 86H24V90H28V86ZM32 86H36V82H32V86ZM32 90V94H36V90H32ZM24 90H20V94H24V90ZM24 74H28V70H24V74ZM20 74H16V78H20V74ZM20 70H24V66H20V70ZM16 70H12V74H16V70ZM16 66H20V62H16V66ZM12 66H8V70H12V66ZM12 62H16V58H12V62ZM8 62H4V66H8V62ZM8 58H12V54H8V58ZM4 58H0V62H4V58ZM4 34V30H0V34H4ZM8 34H12V30H8V34ZM8 42H4V46H8V42ZM12 42H16V38H12V42ZM12 46H8V50H12V46ZM16 46H20V42H16V46ZM16 50H12V54H16V50ZM24 50V54H28V50H24ZM24 46V42H20V46H24ZM28 46V50H32V46H28ZM28 42V38H24V42H28ZM34 42V46H38V42H34ZM34 38V34H30V38H34ZM40 38V42H44V38H40ZM40 34V30H36V34H40ZM44 34V38H48V34H44ZM44 8V4H40V8H44ZM48 8V12H52V8H48ZM80 0H48V8H80V0ZM84 8V4H76V8H84ZM84 4H80V12H84V4ZM88 26V8H80V26H88ZM64 30H84V22H64V30ZM68 30V26H60V30H68ZM76 26H64V34H76V26ZM80 34V30H72V34H80ZM60 38H76V30H60V38ZM64 38V34H56V38H64ZM64 42V38H56V42H64ZM68 38H60V46H68V38ZM72 46V42H64V46H72ZM72 50V46H64V50H72ZM64 54H68V46H64V54ZM60 46V50H68V46H60ZM60 50H64V42H60V50ZM64 50V46H56V50H64ZM64 54V50H56V54H64ZM64 58V54H56V58H64ZM56 62H60V54H56V62ZM60 62V58H52V62H60ZM60 66V62H52V66H60ZM52 70H56V62H52V70ZM56 70V66H48V70H56ZM48 74H52V66H48V74ZM52 74V70H44V74H52ZM52 78V74H44V78H52ZM52 82V78H44V82H52ZM52 86V82H44V86H52ZM52 82H48V90H52V82ZM56 90V86H48V90H56ZM44 94H52V86H44V94ZM40 86V90H48V86H40ZM40 82V86H48V82H40ZM40 78V82H48V78H40ZM40 82H44V74H40V82ZM36 74V78H44V74H36ZM36 78H40V70H36V78ZM40 78V74H32V78H40ZM32 82H36V74H32V82ZM36 82V78H28V82H36ZM28 86H32V78H28V86ZM32 86V82H24V86H32ZM28 90H32V82H28V90ZM28 86V90H36V86H28ZM32 86H24V94H32V86ZM28 90V86H20V90H28ZM20 82V86H28V82H20ZM20 78V82H28V78H20ZM20 74V78H28V74H20ZM20 78H24V70H20V78ZM16 70V74H24V70H16ZM16 74H20V66H16V74ZM12 66V70H20V66H12ZM12 70H16V62H12V70ZM8 62V66H16V62H8ZM8 66H12V58H8V66ZM4 58V62H12V58H4ZM4 62H8V54H4V62ZM0 54V58H8V54H0ZM0 50V54H8V50H0ZM0 46V50H8V46H0ZM0 42V46H8V42H0ZM0 38V42H8V38H0ZM0 34V38H8V34H0ZM8 30H4V38H8V30ZM12 38V34H4V38H12ZM12 42V38H4V42H12ZM12 38H8V46H12V38ZM16 46V42H8V46H16ZM16 42H12V50H16V42ZM20 50V46H12V50H20ZM24 46H16V54H24V46ZM20 46V50H28V46H20ZM28 42H24V50H28V42ZM24 42V46H32V42H24ZM34 38H28V46H34V38ZM30 38V42H38V38H30ZM40 34H34V42H40V34ZM36 34V38H44V34H36ZM44 30H40V38H44V30ZM40 30V34H48V30H40ZM40 26V30H48V26H40ZM40 8V26H48V8H40ZM48 4H44V12H48V4ZM44 4V8H52V4H44Z' fill='white' mask='url(%23path-1-outside-1_4375_476)'/%3E%3Crect x='53' y='11' width='2' height='2' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
        background-size: cover;
        cursor: pointer;
    }

    .title {
        padding: 1.2rem;
        font-size: x-large;
        color: $title-color;
    }

    p {
        font-size: small;
        margin-bottom: 1.3rem;
    }

    .buttons-wrap {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        .button {
            padding: 0.5rem 3rem;
            font-size: small;
            background-color: $btn-primary;
            color: $btn-text-color;
            box-shadow: (6px 6px 0px $btn-shadow);
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                background-color: $btn-primary-hover;
            }

            &:active {
                transform: translate(6px, 6px);
                box-shadow: none;
            }
        }
    }
}
