$game-start-bg-color: rgba(0, 0, 0, 0.3);
$game-start-wrap-gradient-40: rgba(194, 194, 194, 0.596);
$game-start-wrap-border-color: rgba(0, 0, 0, 0.404);
$game-start-menu-shadow-color: rgba(21, 21, 21, 0.623);

.game-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    backdrop-filter: blur(1.5px);
}

.hidden {
    display: none;
}