.game-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    backdrop-filter: blur(1.5px);
}

.hidden {
    display: none;
}
