@import '../../../../assets/styles/mixins.scss';

.windowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--wrapper-bg-color);
}

.container {
    @include container;
    align-items: center;
    padding: 50px 60px;
}
