@use '@/assets/styles/themes' as *;

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;

    .inputTitle {
        margin: 0;
    }
}

.button {
    margin-top: 60px;
    width: 330px;
}

.inputTitle {
    @include themed {
        color: t('title-color');
    }
}
