$btn-shadow: #12161dcc;

.button {
    padding: 0.5rem 3rem;
    font-size: small;
    background-color: var(--main-page-btn-bg-color);
    color: var(--white);
    box-shadow: (6px 6px 0px $btn-shadow);
    border-radius: 0;

    &:hover {
        background-color: var(--orange-hover);
    }

    &:active {
        transform: translate(6px, 6px);
        box-shadow: none;
    }
}
