@use '@/assets/styles/themes' as *;

.button {
    padding: 0.5rem 3rem;
    font-size: small;
    @include themed {
        background-color: t('main-page-btn-bg-color');
        color: t('text-primary');
        box-shadow: (6px 6px 0px t('btn-shadow'));
    }
    border-radius: 0;

    &:hover {
        background-color: var(--orange-hover);
    }

    &:active {
        transform: translate(6px, 6px);
        box-shadow: none;
    }
}
