$game-start-bg-color: rgba(0, 0, 0, 0.3);
$game-start-wrap-gradient-40: rgba(194, 194, 194, 0.596);
$game-start-wrap-border-color: rgba(0, 0, 0, 0.404);
$game-start-menu-shadow-color: rgba(21, 21, 21, 0.623);

.game-start {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $game-start-bg-color;
    color: var(--black);
    text-align: center;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
        background: radial-gradient(var(--gray-light) 50%, var(--blue) 140%);
        border: 1px solid $game-start-wrap-border-color;
        border-radius: 32px;
        padding: 5rem;
        box-shadow: 10px 10px 0px $game-start-menu-shadow-color;

        .title {
            font-size: xx-large;
        }

        button {
            background-color: var(--orange-primary);
            color: var(--white);
            padding: 0.8rem 3rem;
            border: none;
            border-radius: 0;
            box-shadow: 6px 6px 0px $game-start-menu-shadow-color;

            &:hover {
                background-color: var(--orange-hover);
            }

            &:active {
                background-color: var(--orange-hover);
                transform: translate(6px, 6px);
                box-shadow: none;
            }
        }

        .blinking-text {
            animation: blinking 1.5s infinite;
            font-size: medium;
        }

        @keyframes blinking {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
