.layoutContainer {
    @include background-container;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: $black;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-x: auto;
}
