$dark: (
    text-primary: #FFF,
    text-secondary: #fc7c04,
    text-dimmed: rgb(33, 33, 33),
    background: #15202b,
    bg-header-footer-main: #0b1620,
    main-page-btn-bg-color: rgb(184, 88, 0),
    btn-shadow: #f5a75f59,
    background-image: none,
    container-bg-color: #0b1620,
    title-color: #d76a04,
    switcher-bg: #314b63,
    switcher-btn-bg: #ff7b00,
);


