$light: (
    text-primary: #000,
    text-secondary: #000,
    text-dimmed: rgb(33, 33, 33),
    background: #FFF,
    bg-header-footer-main: #0f0f0f4d,
    main-page-btn-bg-color: rgb(184, 88, 0),
    btn-shadow: #12161dcc,
    background-image: '@/assets/images/background-blurred.jpg',
    container-bg-color: rgba(241, 241, 241, 0.6),
    title-color: #8e4400,
    switcher-bg: #FFF,
    switcher-btn-bg: #ff7b00,
);

