@use 'sass:color';
@use '@/assets/styles/themes' as *;

.topicCardItem {
    padding: 0.75rem;
    border: 1px solid color.adjust($white, $alpha: -0.9);
    border-radius: 0.5rem;
    background-color: color.adjust($gray-dark, $alpha: -0.75);
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    &:hover {
        background-color: color.adjust($gray-dark, $alpha: -0.5);
        transform: translateY(-2px);
    }

    &__title {
        @include text-lg;
        color: $orange;
        @include themed {
            text-shadow: (1px 1px 1px t('btn-shadow'));
        }
        margin: 0;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid color.adjust($white, $alpha: -0.9);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-grow: 1;

        
    }

    &__content {
        @include text-base;
        color: color.adjust($white, $alpha: -0.1);
        margin: 0.25rem 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-grow: 1;
    }

    &__comments {
        @include text-xs;
        color: $gray-light;
    }
}
